################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/packages
/NupackBuilder-Samples/packages/7-Zip.CommandLine
/NupackBuilder-Samples/nuget.exe

/.vs
/NupackBuilder-Samples/packages/7-Zip.x64
/NupackBuilder-Samples/obj/Debug/NupackBuilder-Samples.pssprojResolveAssemblyReference.cache
